<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Breast Cancer Detection</title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
        Bootstrap
      </a>
    </nav>

    <!-- Cover Section -->
    <section id="cover">
        <div id="cover-caption">
            <div class="container">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1 class="display-3">Breast Cancer Detection</h1>
                    <p>Just like the old Bootstrap, but better. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam quis, repudiandae reprehenderit doloremque fugiat molestias, corporis voluptas.</p>

                   <!-- <form action="" class="form-inline">
                        <div class="form-group">
                            <label class="sr-only">Name</label>
                            <input type="text" class="form-control form-control-lg" placeholder="Jane Doe">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Email</label>
                            <input type="text" class="form-control form-control-lg" placeholder="jane.doe@example.com">
                        </div>-->
                        <button type="submit" class="btn btn-danger btn-lg">DEMO</button>
<!--                    </form>-->

                    <br>

                    <a href="#nav-main" class="btn btn-secondary-outline btn-sm" role="button">&darr;</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Introduction -->
    <section id="what-we-do">
         <div class="section-content">
             <div class="container2">
                 <div class="col-sm-8 col-sm-offset-1">
                     <h1 class="display-4">What we do</h1>
                     <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui accusantium commodi non quod mollitia animi, totam quia labore ex est ut delectus consectetur explicabo eveniet maiores, cumque aut repudiandae. Natus!</p>

                     <!-- Feature Cards -->
                     <div class="card-group">
                          <div class="card">
                              <img src="img/hospital.png" class="card-img-top" alt="icon">
                              <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              </div>
                          </div>

                          <div class="card">
                              <img src="img/hospital.png" class="card-img-top" alt="icon">
                              <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            </div>
                          </div>

                          <div class="card">
                              <img src="img/hospital.png" class="card-img-top" alt="icon">
                              <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                              </div>
                          </div>
                     </div>
                </div>
             </div>
         </div>
    </section>

    <!-- Blog Post -->
    <section id="blog">
            <div class="section-content">
                <div class="container2">
                    <div class="col-sm-8 col-sm-offset-1">
                        <h1 class="display-5">Recommended for you</h1>
                        <div class="row">
                                 <div class="col-sm-12">
                                     <div class="card-deck">
                                         <div class="card">
                                            <div class="card-shadow">
                                                <div class="card-body">
                                                    <div class="card-image">
                                                        <img src="img/chalkboard.jpg" alt="a chalkboard">
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                        <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModal">learn more</button>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>

                                         <div class="card">
                                             <div class="card-shadow">
                                                 <div class="card-body">
                                                     <div class="card-image">
                                                         <img src="img/working.jpg" alt="working on a laptop">
                                                         <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi debitis fugit molestias dignissimos, id hic officiis quam possimus tenetur minima voluptatibus accusantium, numquam voluptates velit, dicta maiores dolor quo expedita.</p>
                                                         <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModal">learn more</button>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>

                                         <div class="card">
                                             <div class="card-shadow">
                                                 <div class="card-body">
                                                     <div class="card-image">
                                                            <img src="img/programming.jpg" alt="fingers typing on a keyboard">
                                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi debitis fugit molestias dignissimos, id hic officiis quam possimus tenetur minima voluptatibus accusantium.</p>
                                                            <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModal">learn more</button>
                                                         </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="foot">
            <h1> Logo </h1>
            <h2> @Copyright 2020</h2>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>